<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Mapping with model class containing annotations -->
        <mapping class="team.sema.dpa.digitalpatientenakte.models.CaseEntity"/>
        <mapping class="team.sema.dpa.digitalpatientenakte.models.FlowEdgeEntity"/>
        <mapping class="team.sema.dpa.digitalpatientenakte.models.FlowChartElementEntity"/>
        <mapping class="team.sema.dpa.digitalpatientenakte.models.FlowElementType"/>
        <mapping class="team.sema.dpa.digitalpatientenakte.models.PatientEntity"/>
        <mapping class="team.sema.dpa.digitalpatientenakte.models.PatientStepEntity"/>
    </session-factory>
</hibernate-configuration>
